attrs==21.4.0
bcrypt==3.2.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
colorgram.py==1.2.0
cryptography==36.0.2
distlib==0.3.4
distro==1.7.0
docker==4.2.2
docker-compose==1.26.2
dockerpty==0.4.1
docopt==0.6.2
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
jsonschema==3.2.0
paramiko==2.10.3
Pillow==9.0.1
platformdirs==2.5.1
prettytable==3.0.0
pycparser==2.21
PyNaCl==1.5.0
pypiwin32==223
pyrsistent==0.18.1
python-dotenv==0.20.0
pywin32==303
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
texttable==1.6.4
urllib3==1.26.9
virtualenv==20.13.3
wcwidth==0.2.5
websocket-client==0.59.0
youtube-dl==2021.12.17
